<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{_res_path}}souju/select.css" />
</head>

<body>
    <div></div>
    <div class="box">
        <div class="header text-center text-title">{{list.vod_name}} </div>
    </div>
    <div class="top_main">
        <div class="top_row">
            <div class="top_left">
                <div class="top_img_bottom">
                    {{if showPic == true}}
                    <img class="top_img" src="{{list.vod_pic}}" />
                    {{else}}
                    <img class="top_img" src="{{_res_path}}/souju/load.png" />
                    {{/if}}

                </div>
            </div>

            <div class="top_right">
                <div class="top_text">分类：<font class="text-data"> {{list.type_name}}</font>
                </div>
                <div class="top_text">地区：<font class="text-data">{{list.vod_area}}</font>
                </div>
                <div class="top_text">年份：<font class="text-data">{{list.vod_year}} </font>
                </div>
                <div class="top_text">更新：<font class="text-data">{{list.vod_remarks}}/{{list.vod_time}}</font>
                </div>
                <div class="top_text">主演：<font class="text-data">{{list.vod_actor}}</font>
                </div>
                <div class="top_text">导演：<font class="text-data">{{list.vod_director}}</font>
                </div>

            </div>
        </div>
        <div class="top_center">
            <div class="top_text">简介：<font class="text-data">{{list.vod_content}}</font>
            </div>
        </div>
    </div>

    <div class="box text-center">
        <div class="header text-left text-data">
            当前线路：<font class="text-now">{{playRoutes[CurrentrRoute].RouteName}}</font><br />
            你可以发送<font class="text-now">#线路+数字</font>来切换线路，例如<font class="text-now">#线路2</font>
        </div>

        <div class="item_data text-center ">
            <br />
            {{each playRoutes value i}}
            <div class="item">
                <div class="item_title{{if CurrentrRoute == i}} now{{/if}}">{{value.RouteName}}</div>
                <div class="item-data">#线路{{i+1}}</div>
            </div>
            {{/each}}
        </div>

    </div>

    <div class="box text-center">
        <div class="header text-left text-muted">
            你可以发送<font class="text-now">#看剧+数字</font>来选择集数，例如
            <font class="text-now">#看剧1</font>
        </div>
        <div class="item_data text-center ">
            <br />
            {{each episodeNames j idx}}
            <div class="item">
                <div class="item_title">{{j}}</div>
                <div class="item-data">#看剧{{idx+1}}</div>
            </div>
            {{/each}}
            <br />
        </div>

        <div class="header text-left text-muted">
            你可以发送<font class="text-now">#看剧+数字</font>来选择集数，例如
            <font class="text-now">#看剧1</font>
        </div>
    </div>

    <div class="box">
        <div class="text-data text-center">Created By Yunzai-Bot & 止水</div>
    </div>


</body>

</html>