@charset "UTF-8";

@font-face {
    font-family: "Number";
    src: url("./font/tttgbnumber.woff") format("woff"), url("./font/tttgbnumber.ttf") format("truetype");
}

@font-face {
    font-family: "FZB";
    src: url("./font/FZB.woff") format("woff"), url("./font/FZB.ttf") format("truetype");
}

@font-face {
    font-family: "NZBZ";
    src: url("./font/NZBZ.woff") format("woff"), url("./font/NZBZ.ttf") format("truetype");
}

@font-face {
    font-family: "YS";
    src: url("./font/HYWH-65W.woff") format("woff"), url("./font/HYWH-65W.ttf") format("truetype");
}

.font-YS {
    font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

.font-NZBZ {
    font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

/* 页面基础样式 */
body {
    font-family: "FZB", Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
    background: url("bg.png") white center top no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background 0.3s;
}

.container {
    width: 740px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;

}

.header .title {
    font-size: 2.7em;
    color: #007bff;
    margin: 0;
    /* 确保没有外边距 */
    padding: 5px 0;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    line-height: 1;
}

.footer {
    width: 100%;
    max-width: 740px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.footer p {
    font-size: 0.9em;
    color: #6c757d;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-bottom: 0;
}

.text-now {
    color: #ff6b81;
    font-weight: bold;
}

.drama-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
}

.poster {
    width: 300px;
    height: 400px;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info-details {
    width: calc(100% - 330px);
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.details {
    color: #333;
    border-radius: 10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.synopsis {
    color: #333;
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-item {
    margin-bottom: 10px;
    /* 每个详情项的外边距 */
}

.detail-label {
    font-weight: bold;
    /* 标签加粗 */
    color: #6c757d;
    /* 标签的颜色 */
    margin-right: 5px;
    /* 标签和数据之间的间距 */
}

.detail-data {
    color: #007bff;
    /* 数据的颜色 */
}

/* 简介的特殊样式 */
.synopsis .detail-label {
    color: #28a745;
    /* 简介标签的颜色 */
}

.synopsis .detail-data {
    color: #333;
    /* 简介数据的颜色，保持与正文一致 */
}

.select-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 740px;
    margin: auto;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.select-line,
.select-episode {
    margin-bottom: 30px;
    text-align: left;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.select-line div {
    background-color: #007bff;
    /* 选择线路的线路选项背景色 */
    color: #ffffff;
    /* 选择线路的线路选项文本颜色 */
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 5px;
    text-align: left;
}

.select-episode div {
    background-color: #28a745;
    /* 选择集数的线路选项背景色 */
    color: #ffffff;
    /* 选择集数的线路选项文本颜色 */
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 5px;
    text-align: left;
}

.copyright {
    font-size: 14px;
    text-align: center;
    color: #fff;
    position: relative;
    padding-left: 10px;
    text-shadow: 1px 1px 1px #000;
    margin: 10px 0;
}

.copyright .version {
    color: #d3bc8e;
    display: inline-block;
    padding: 0 3px;
}